*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins';
}

/*nav element starts here*/
nav{
    height:100px;
    
       
}
.top-nav{
    max-width: 1340px;
    padding: 0 50px;
    
}
.nav-element{
    height: 100px;
    
}
.nav-element ul{
    float: right;
    
    list-style: none;
    

}
.nav-element ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
.top-nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}


/*hero content starts here*/
.hero-container{
    background-color: #F9F9F9;
}
.hero-wrapper{
    max-width: 1380px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#right{
    
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    top: 5px;
    
}

.hero-content li a{
    height: 20px;
    align-items: center;
    justify-content: center;
}
.hero-content-flex-1{
    display: flex;
}
.hero-content-flex-2{
    display: flex;
}
.hero-content-flex{
    display: flex;
}
.hero-content{
    max-width: 50%;
    padding: 50px 0;
}
.down-arrow{
    width: 25px;
    height: 30px;
    cursor: pointer;
}
.hero-img{
    transform: rotate(7deg);
    
    border-radius: 10px;
    height: 23.75em;
    max-width: 25em;
}
.hero{
    max-width: 50%;
}
/*portfolio starts here*/

.portfolio-wrapper{
    max-width: 86.25em;
    padding: 0 4.375em;

}
.portfolio-grid-1{
    width: 18.75em;
  height: 12.5em;
  padding: 50px;
  background-image: url(images/portfolio1.jpg);
  border: 5px solid black;
}
.portfolio-grid-2{
    width: 18.75em;
  height: 12.5em;
  background-image: url(images/portfolio2.jpg);
  padding: 50px;
  border: 5px solid black;
}
.portfolio-grid-3{
    width: 18.75em;
  height: 12.5em;
  background-image: url(images/portfolio3.jpg);
  padding: 50px;
  border: 5px solid black;
}
.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(18.75em, 1fr));
    
    
}

.pagination-total hr{
    width: 10%;
}
.pagination-total{
    display: flex;
    align-items: center;
}

.left{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.next{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.pagination-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*skills starts here*/

.skills{
    background-image: url(images/white-texture.png);
    
}
.skills-wrapper{
    max-width: 86.25em;
    padding: 0 4.375em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.bar-container{
    max-width: 40%;
    padding: 20px 0;
    margin: 50px 0;
}
.skill-1-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.skill-hero-image{
    max-width: 60%;
    
}

.hr-1{
    border: 3px solid red;

}
.hr-2{
    border: 3px solid red;
}
.hr-3{
    border: 3px solid red;
}


/* timeline sstarts here*/

.timeline-wrapper{
    max-width: 86.25em;
    padding: 0 4.375em;
}
.timeline-flex-body-1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-3{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-4{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-5{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pricing{
    background-color: #F9F9F9;
}
.pricing-wrapper{
    max-width: 86.25em;
    padding: 0 4.375em;
}


.pricing-desc{
    width: 25em;
}
.pricing-cards{
    width: 25em;
}
.pricing-icon{
    width: 20px;
    height: 20px;
    color: #FF4522;
}

.pricing-card-1-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-1{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-2-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-2{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-3-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-3{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-4-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-4{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-5-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-5{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}

.pricing-container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

