*{
    
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'poppins';
    align-items: center;
    justify-content: center;
}

/*nav element starts here*/
nav{
    background-color:#ffff;
    height:100px;
    width: 100%;
    
    text-align: center;
    position: fixed;
    z-index: 100;
    
        
}

.logo h1{
    font-size: 34px;
    max-width: 70px;
    max-height: 70px;
    cursor: pointer;
}

.nav-element{
    height: 100px;
    
}
.nav-element ul{
    float: right;
    
    list-style: none;
    

}
.nav-element ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
    
    
}
.nav-element ul li img{
    width: 20px;
    height: 20px;
}
.nav-element ul li a span{
    
    color: #ff4522;

}
.nav-element ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-element ul li a:hover{
    
    color: #ff4522;
}
.top-nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 1340px;
    padding: 0 50px;
}


/*hero content starts here*/



.hero-container{
    background-color: #F9F9F9;
    
}
.hero-wrapper{
    max-width: 1380px;
    padding: 90px 70px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content h3 span{
    font-size: 20px;
    font-weight: bold;
    color: #ff4522;
}
#right{
    
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    top: 5px;
    padding-left: 15px;
    
}
.hero-content h1{
    font-size: 46px;
    max-width: 80%;
    
}

.hero-content li a{
    height: 20px;
    align-items: center;
    justify-content: center;
}
.hero-content li a:hover{
    color: #ff4522;
}
.hero-content-flex-1{
    display: flex;
    align-items: center;
}

.hero-content-flex-1 h1{
font-size: 46px;
}
.hero-content-flex-1 p{
    font-size: 20px;
    color: grey;
    width: 60%;
    padding-left: 20px;
}
.hero-content-flex-2 p{
    font-size: 20px;
    color: grey;
    width: 60%;
    padding-left: 20px;
}
.hero-content-flex-2{
    display: flex;
    align-items: center;
}
.hero-content-flex-2 h1{
    font-size: 46px;
}
.hero-content-flex{
    display: flex;
}
.hero-wrapper .hero-content{
    max-width: 100%;
    padding: 50px 0;
}
.down-arrow{
    width: 45px;
    height: 50px;
    cursor: pointer;
}
.hero-wrapper .hero-img{
    max-width: 100%;
    padding:0 100px;
    
    
}
.hero-wrapper .hero-img img{
    transform: rotate(7deg);
    width: 350px;
    max-height: 450px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: -30px;
    
    
}

.hero-wrapper .hero-img .photo-bg{
    position: absolute;
    width: 350px;
    height: 450px;
    transform: rotate(-7deg);
    right: 150px;
    top: 180px;
    background: #FF4522;
    border-radius: 10px;
 
}

.hero{
    max-width: 50%;
}
.hero-content h1{
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
}
.hero-content li{
    list-style: none;
    padding: 10px 20px 10px 0px ;
}
.hero-content li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
    
}

/*portfolio starts here*/


.portfolio-wrapper{
    max-width: 1380px;
    padding: 0 70px;

}
.portfolio-grid-1{
  width: 18.75em;
  height: 12.5em;
  padding: 50px;
  background-image: url(images/portfolio1.jpg);
  border: 5px solid black;
}
.portfolio-grid-2{
  width: 18.75em;
  height: 12.5em;
  background-image: url(images/portfolio2.jpg);
  padding: 50px;
  border: 5px solid black;
}
.portfolio-grid-3{
  width: 18.75em;
  height: 12.5em;
  background-image: url(images/portfolio3.jpg);
  padding: 50px;
  border: 5px solid black;
}
.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(18.75em, 1fr));
    
}

.pagination-total hr{
    width: 70px;
}
.pagination-total{
    display: flex;
    align-items: center;
}

.left{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.next{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.pagination-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*skills starts here*/

.skills{
    background-image: url(images/white-texture.png);
    
}
.skills-wrapper{
    max-width: 1380px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.bar-container{
    max-width: 40%;
    padding: 20px 0;
    margin: 50px 0;
}
.skill-1-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.skill-hero-image{
    max-width: 60%;
    
}
.bar-box{
    width: 100%;
}
.bar-1{
    position: relative;
    border: 1px solid red;
    border-radius: 20px;
    
}

.bar-1 div{
    position: relative;
    width: 95%;
    height: 9px;
    border-radius: 10px;
    background-color: red;
}
.bar-2{
    position: relative;
    border: 1px solid red;
    border-radius: 20px;
}
.bar-2 div{
    position: relative;
    width: 80%;
    height: 9px;
    border-radius: 10px;
    background-color: red;
}
.bar-3{
    position: relative;
    border: 1px solid red;
    border-radius: 20px;
}
.bar-3 div{
    position: relative;
    width: 90%;
    height: 9px;
    border-radius: 10px;
    background-color: red;
}


/* timeline sstarts here*/

.timeline-wrapper{
    max-width: 86.25em;
    padding: 0 4.375em;
}
.timeline-flex-body-1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-3{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-4{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.timeline-flex-body-5{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pricing{
    background-color: #F9F9F9;
}
.pricing-wrapper{
    max-width: 1380px;
    padding: 0 70px;
}


.pricing-desc{
    width: 25em;
}
.pricing-cards{
    width: 25em;
}
.pricing-icon{
    width: 20px;
    height: 20px;
    color: #FF4522;
}

.pricing-card-1-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-1{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-2-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-2{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-3-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-3{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-4-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-4{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}
.pricing-card-5-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-5{
    display: flex;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}

.pricing-container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*News starts here*/

.news-wrapper{
    max-width: 1380px;
    padding: 0 70px;

}

.news-grid-1{
    width: 18.75em;
  height: 12.5em;
  padding: 50px;
  background-image: url(images/2.jpg);
  border: 5px solid black;
}
.news-grid-2{
    width: 18.75em;
  height: 12.5em;
  padding: 50px;
  background-image: url(images/3.jpg);
  border: 5px solid black;
}
.news-grid-3{
    width: 18.75em;
  height: 12.5em;
  padding: 50px;
  background-image: url(images/4.jpg);
  border: 5px solid black;
}

.news-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(18.75em, 1fr));
}


/* contact starts here */

.contact{
    background-color: #F9F9F9;
}


.contact-icon{
    width: 20px;
    height: 20px;
}
.contact-desk-icon-1{
    display: flex;
}
.contact-desk-icon-2{
    display: flex;
}
.contact-desk-icon-3{
    display: flex;
}
.contact-desk-icon-4{
    display: flex;
}

.contact-desk{
    width: 400px;
    padding: 40px;
}
#form{
    width: 400px;
    
}
#name{
    width: 400px;
    height: 40px;
    
    
}
#email{
    width: 400px;
    height: 40px;
    
    
}
#message{
    width: 400px;
    height: 40px;
   
    
}
#submit{
    width: 400px;
    height: 40px;
    
    
    text-align: center;
    color: #F9F9F9;
    background-color: #FF4522;
    justify-content: center;
}
.submit-icon{
    width: 20px;
    height: 20px;
}
.contact-form{
    width: 400px;
}
.contact-wrapper-grid{
    max-width: 1380px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*footer starts here*/
.footer{
    background-color: rgb(114, 111, 111);
    height: 80px;
}
.footer-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}

.footer-social-icons{
    display: flex;
    
}
.footer-wrapper-flex{
    max-width: 1380px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}