*{
    
    margin: 0;
    padding: 0;
    
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'poppins';
    align-items: center;
    justify-content: center;
}

/*nav element starts here*/
nav{
    background-color:#ffff;
    height:70px;
    
    text-align: center;
    
    z-index: 100;
     
}

.logo h1{
    font-size: 32px;
    
    cursor: pointer;
}

.nav-element{
    height: 70px;
    
}
.nav-element ul{
    line-height: 70px;
    list-style: none;
}
.nav-element ul li{
    display: inline-block;
    
    margin: 5px 8px;
       
}
.nav-element ul li img{
    width: 20px;
    height: 20px;
}
.nav-element ul li a span{
    
    color: #ff4522;

}
.nav-element ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-element ul li a:hover{
    
    color: #ff4522;
}
.top-nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 1340px;
    padding: 0 50px;
    margin: 0 auto;
    
}


/*hero content starts here*/



.hero-container{
    background-color: #F9F9F9;
    
}

.hero-wrapper{
    max-width: 1380px;
    padding: 90px 70px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.hero-content h3 span{
    font-size: 16px;
    font-weight: bold;
    color: #ff4522;
}
#right{
    
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    top: 5px;
    padding-left: 15px;
    
}
.hero-content h1{
    font-size: 36px;
    width: 80%;
    
}

.hero-content li a{
    height: 20px;
    align-items: center;
    justify-content: center;
}
.hero-content li a:hover{
    color: #ff4522;
}
.hero-content-flex-1{
    display: flex;
    align-items: center;
}


.hero-content-flex-1 p{
    font-size: 16px;
    color: grey;
    width: 60%;
    position: relative;
    right: 35px;
    
   
}
.hero-content-flex-2 p{
    font-size: 16px;
    color: grey;
    width: 60%;
    position: relative;
    right: 30px;
}
.hero-content-flex-2{
    display: flex;
    align-items: center;
    
    
}

.hero-content-flex{
    display: flex;
}
.hero-wrapper .hero-content{
    
    padding: 50px 0;
}
.down-arrow{
    width: 45px;
    height: 50px;
    cursor: pointer;
}
.hero-wrapper .hero-img{
    
    padding:0 100px;
    
}
.hero-wrapper .hero-img img{
    transform: rotate(7deg);
    width: 280px;
    height: 470px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: -30px;
    
    
    
}

.hero-wrapper .hero-img .photo-bg{
    position: absolute;
    width: 280px;
    height: 370px;
    transform: rotate(-7deg);
    right: 275px;
    top: 165px;
    background: #FF4522;
    border-radius: 10px;
 
}

.hero{
    max-width: 50%;
}

.hero-content li{
    list-style: none;
    padding: 10px 20px 10px 0px ;
}
.hero-content li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    
    
}

/*portfolio starts here*/


.portfolio-wrapper{
    max-width: 1380px;
    padding: 100px 70px;

}
.portfolio-wrapper span h3{
    font-size: 16px;
    font-weight: bold;
    color: #ff4522;
    padding: 20px 0;
}


.portfolio-wrapper h3{
    font-size: 26px;
    font-weight: bold;
    
}
a {
    
    text-decoration:none;
    color: black;
}


.grid-image img{
  width: 100%;
  height: 380px;
  display: block;
  border-radius: 10px;
  
}


 .grid-image-hover .up-right{
    width: 35px;
    height: 35px;
    padding-left: 200px;

}
.grid-desc h4{
    font-size: 22px;
    padding: 5px;
}
.grid-desc p{
    font-size: 18px;
    padding: 5px;
}
.grid-desc{
    padding-right:100px;
    padding-top: 120px;
}

.grid-image-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    margin-top: 9px;
    margin-left: 9px;
    opacity: 0;
    transition: .25s;

}
.grid-image-hover:hover{
    opacity: 1;
}


.portfolio-grid-1{
  max-width: 350px;
  height: 380px;
  border-radius: 10px;
  position: relative;
}

.portfolio-grid-2{
    max-width: 350px;
    height: 380px;
    border-radius: 10px;
    position: relative;
    
  }
.portfolio-grid-3{
    max-width: 350px;
  height: 380px;
  border-radius: 10px;
  position: relative;

}


.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(390px, 1fr));
    padding-top: 100px;
    padding-bottom: 30px;
    
}

.pagination-total hr{
    width: 80px;
    padding: 0 10px;
}
.pagination-total h4{
    padding: 0 10px;
}
.left{
    padding-right: 10px;
}
.next{
    padding-left: 10px;
}
.pagination-total{
    display: flex;
    align-items: center;
}

.left{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.next{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.pagination-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*skills starts here*/

.skills{
    background-image: url(images/white-texture.png);
    backdrop-filter: invert(50);
    

}
.bar-container h4{
    color: #ff4522;
}
    
.bar-container h1{
    color: #F9F9F9;
    padding: 5px 0;
}
.bar-container p{
    color: rgb(196, 196, 196);
    line-height: 2;
}
.skill-1-flex h2{
    color: #F9F9F9;
    font-size: 16px;
    font-weight: 60;
}

.skills-wrapper{
    max-width: 1380px;
    padding:120px 70px;
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
    
    
}
.bar-container{
    max-width: 100%;
    padding-bottom: 100px;
    
    
}
.skill-1-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.skill-hero-image{
    height: 600px;
}

.skill-2{
    padding-top: 20px;
}
.skill-3{
    padding-top: 20px;
}
.bar-box{
    width: 100%;
    padding: 30px 0;
}
.bar-1{
    position: relative;
    background: rgb(53, 49, 49); 
}
.bar-1 div{
    position: relative;
    width: 95%;
    height: 8px;
    background-color: #FF4522;
}
.bar-2{
    position: relative;
    background: rgb(53, 49, 49);
}
.bar-2 div{
    position: relative;
    width: 80%;
    height: 8px;
    background-color: #FF4522;
}
.bar-3{
    position: relative;
    background: rgb(53, 49, 49);
}
.bar-3 div{
    position: relative;
    width: 90%;
    height: 8px;
    background-color: #FF4522;
}


/* timeline sstarts here*/

.timeline-wrapper{
    max-width: 1380px;
    padding: 120px 70px;
}
.timeline-wrapper h4{
    color: #ff4522;
}
.timeline-wrapper h1{
    font-size: 30px ;
    font-weight: 800;
    padding-bottom: 20px;
}
.timeline-body-flex h3{
    font-size: 18px;
    font-weight: 250;
}
.timeline-body-flex p{
    color: #8f8a8a;
}
.timeline-flex-body-1{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 30px 0;
    
    
}
.timeline-flex-body-2{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 30px 0;
}
.timeline-flex-body-3{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 30px 0;
}
.timeline-flex-body-4{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 30px 0;
}
.timeline-flex-body-5{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 30px 0;
}

/*pricing starts here*/
.pricing{
    background-color: #F9F9F9;
}
.pricing-wrapper{
    max-width: 1380px;
    padding: 0 70px;
}
.pricing-desc h4{
    color: #ff4522;
}
.pricing-desc h1{
    font-size: 32px;
}
.pricing-desc p{
    font-size: 16px;
    font-weight: 70;
    color: #8f8a8a;
    line-height: 2;
    padding: 30px 0;
}
.pricing-desc{
    
    padding-bottom: 450px;
}
.pricing-cards{
    
    display: grid;
    grid-template-rows: 1fr;
    gap: 30px;
    padding-bottom: 150px;
}
.pricing-icon{
    width: 20px;
    height: 20px;
    
}
.pricing-cards p{
    font-size: 18px;
    font-weight: 10;
    font-weight: lighter;
    padding-left: 10px;
   
    
}
.pricing-card-1-flex{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21.875em;
    
}
.pricing-card-1{
    display: flex;
    width: 400px;
    height: 50px;
    background-color: #ffff;
    border: 1px transparent black;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    
    box-shadow: 0 1px 20px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.05);
}
.pricing-card-1:hover{
   background-color: #ff4522;
    color: #F9F9F9;
    transition: .25s;
    
      
}
.pricing-card-2:hover{
    background-color: #ff4522;
    color: #F9F9F9;
    transition: .25s;
}
.pricing-card-3:hover{
    background-color: #ff4522;
    color: #F9F9F9;
    transition: .25s;
}
.pricing-card-4:hover{
    background-color: #ff4522;
    color: #F9F9F9;
    transition: .25s;
}
.pricing-card-5:hover{
    background-color: #ff4522;
    color: #F9F9F9;
    transition: .25s;
}
.pricing-card-2-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-2{
    display: flex;
    width: 400px;
    height: 50px;
    background-color: #ffff;
    border: 1px transparent black;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.05);
}
.pricing-card-3-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-3{
    display: flex;
    width: 400px;
    height: 50px;
    background-color: #ffff;
    border: 1px transparent black;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.05);
}
.pricing-card-4-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-4{
    display: flex;
    width: 400px;
    height: 50px;
    background-color: #ffff;
    border: 1px transparent black;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.05);
}
.pricing-card-5-flex{
    width: 21.875em;
    display: flex;
    justify-content: space-between;
}
.pricing-card-5{
    display: flex;
    width: 400px;
    height: 50px;
    background-color: #ffff;
    border: 1px transparent black;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.05);
}

.pricing-container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px 0px 0px 0px;
}
/*News starts here*/
.news-wrapper{
    max-width: 1380px;
    padding: 100px 70px;
}
.news-wrapper h3{
    color: #ff4522;
    font-size: 16px;
}
.news-wrapper h1{
    font-size: 32px;
}
.grid-img-hover .up-right{
    width: 35px;
    height: 35px;
    padding-left: 200px;
}
.grid-img img{
    width: 100%;
    height: 380px;
    display: block;
    border-radius: 10px;
  }
  .news-grid-desc {
}
.news-grid-desc p{
    font-size: 18px;
    padding: 10px 0;
}
.news-grid-desc h4{
    font-size: 18px;
    font-weight: 20;
    color: #8f8a8a;
}
.news-grid-desc p{
    font-size: 20px;
    font-weight: bold;
}
.news-grid-desc{
    padding: 150px 30px 0px 20px;
}
.grid-img-hover{
     position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    margin-top: 9px;
    margin-left: 9px;
    opacity: 0;
    transition: .25s;
}
.grid-img-hover:hover{
    opacity: 1;
}
.news-grid-1{
    max-width: 350px;
    height: 380px;
    border-radius: 10px;
    position: relative;
  }
  .news-grid-2{
      max-width: 350px;
      height: 380px;
      border-radius: 10px;
      position: relative;
    }
  .news-grid-3{
      max-width: 350px;
    height: 380px;
    border-radius: 10px;
    position: relative;
  }
  .news-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(390px, 1fr));
    padding-top: 100px;
    padding-bottom: 30px;
}

/* contact starts here */

.contact{
    background-color: #F9F9F9;
}
.contact-icon{
    width: 20px;
    height: 20px;
}
.contact-desk-icon-1{
    display: flex;
    padding: 25px 0 15px 0;
}
.contact-desk-icon-2{
    display: flex;
    padding: 15px 0;
}
.contact-desk-icon-3{
    display: flex;
    padding: 15px 0;
}
.contact-desk-icon-4{
    display: flex;
    padding: 15px 0;
}
.contact-desk{
    max-width: 450px;
    padding: 50px 0;
}
.contact-desk h4{
    color: #ff4522;
}
.contact-desk h3{
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
}
.contact-desk h1{
    font-size: 32px;
}
.contact-desk p{
    font-size: 16px;
    color: #8f8a8a;
    line-height: 2;
    padding-top: 20px;
}
#form{
    width: 400px;
    background: #F9F9F9;
    
}
#name{
    width: 400px;
    height: 40px;
    margin: 10px 0;
    padding-left: 10px;
}
#email{
    width: 400px;
    height: 40px;
    margin: 10px 0;
    padding-left: 10px;
}
#message{
    width: 400px;
    height: 40px;
    margin: 10px 0;
    padding-left: 10px;
}
#submit{
    width: 400px;
    height: 40px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F9F9F9;
    background-color: #FF4522;
    justify-content: center;
    
    cursor: pointer;
    border: none;
}
#submit h3{ font-weight: 60;}
#submit img{
    filter: invert(1);
}
#submit:hover{
    transition: .25s;
    background-color: black;
}
.submit-icon{
    width: 18px;
    height: 18px;
    padding-left: 5px;
}
.contact-form{
    max-width: 400px;
}
.contact-wrapper-grid{
    max-width: 1380px;
    padding: 100px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*footer starts here*/
.footer{
    background-color: black;
    height: 200px;
    color: #F9F9F9;
}
.footer-icon{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    
}

.footer-social-icons{
    display: flex;
    gap: 15px;
    
}
.footer-wrapper-flex{
    max-width: 1380px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    
}
@media (min-width:360px){
    
        
        .top-nav{max-width: 18em; padding: 0px 20px; height: 70px;

        margin: 0 auto;}
        
    .hidden{ display: none;}
    .hero-wrapper{
        max-width: 18em; padding: 90px 40px; display: flex; flex-direction: column-reverse;
        align-items: center; }
        .hero-wrapper .hero-img img{
            transform: rotate(0deg); width: 18em;max-height: 23.125em;border-radius: 10px;
            position: relative;top: 30px;padding: 0px 0 0px 0;}
        .hero-wrapper .hero-img .photo-bg{ display: none; }

        .hero-content-flex{
            display: flex; flex-direction: column; max-width: 13.75em;
        }
        .down-arrow{
            display: none;
        }
        .portfolio-wrapper{
            max-width: 18em; padding: 40px 0 80px 0;}
       .portfolio-grid{ display: grid; grid-template-columns: repeat(1, minmax(17.3em, 1fr)); row-gap: 20px;}
       .skills-wrapper{max-width: 18em; padding:80px 10px 20px 10px;}
       .skill-hero{display:none;}
       .timeline-wrapper{max-width: 18em; padding: 80px 10px;}
       .timeline-flex-body-1{ display: grid; grid-template-columns: repeat(1, minmax(300px, 1fr)); padding: 30px 0;row-gap: 15px;}
    .timeline-flex-body-2{
        display: grid; grid-template-columns: repeat(1, minmax(300px, 1fr));padding: 30px 0; row-gap: 15px;
    }
    .timeline-flex-body-3{display: grid;grid-template-columns: repeat(1, minmax(300px, 1fr));
        padding: 30px 0;row-gap: 15px;
    }
    .timeline-flex-body-4{
        display: grid; grid-template-columns: repeat(1, minmax(300px, 1fr)); padding: 30px 0;row-gap: 15px;
    }
    .timeline-flex-body-5{
        display: grid;grid-template-columns: repeat(1, minmax(300px, 1fr)); padding: 30px 0;row-gap: 15px;
    }

.pricing-wrapper{max-width: 18em; padding: 80px 10px;}
.pricing-container-flex{ display: flex; align-items: center;flex-direction: column;}
.pricing-desc{max-width: 18em; padding: 20px 10px;}
.pricing-cards{max-width: 18em; padding: 20px 10px;}
.pricing-card-1 {max-width: 17em; padding: 10px 10px; height: 4em;}
.pricing-card-2 {max-width: 17em; padding: 10px 10px; height: 4em;}
.pricing-card-3 {max-width: 17em; padding: 10px 10px; height: 4em;}
.pricing-card-4 {max-width: 17em; padding: 10px 10px; height: 4em;}
.pricing-card-5 {max-width: 17em; padding: 10px 10px; height: 4em;}

.news-wrapper{
    max-width: 18em; padding: 80px 0 80px 0;}
    .news-grid{display: grid; grid-template-columns: repeat(1, minmax(17.3em, 1fr)); row-gap: 20px;}
.contact-wrapper-grid{max-width: 18em; padding: 80px 0 80px 0; flex-direction: column;}
#form{max-width: 17em;}
#name{max-width: 16.5em;}
#email{max-width: 16.5em;}
#message{max-width: 16.5em;}
#submit{width: 17.4em;}

.footer-wrapper-flex{max-width: 18em; flex-direction: column; padding: 40px 0px; margin: 0 auto;}
}

@media (min-width: 500px) { 
    .top-nav{max-width: 28em; padding: 0px 40px; height: 70px; margin: 0 auto;}
    .hero-wrapper{
        max-width: 28em; padding: 60px 40px; display: flex; flex-direction: column-reverse;
        align-items: center; }
    .hero-content-flex{ display: flex; flex-direction: row; max-width: 24em;}
    .hero-wrapper .hero-img{ max-width: 28em;max-height: 32em; top: 30px;padding: 40px 40px;}
    .hero-wrapper .hero-img img{ width: 26em; height: 30em;}
    .portfolio-wrapper{ max-width: 28em; padding: 60px 40px; }
    .portfolio-grid{  padding: 30px 40px; display: grid; grid-template-columns: repeat(1, minmax(23.5em, 1fr)); row-gap: 60px;}
    .grid-image{width: 23.5em;}
    .grid-image-hover{width: 22.5em;}
    .skills-wrapper{max-width: 28em; padding:60px 40px}
    .timeline-wrapper{max-width: 28em; padding: 60px 40px;}

    .pricing-wrapper{max-width: 28em; padding: 60px 40px;}
    .pricing-desc{max-width: 28em; padding: 20px 0px;}
.pricing-cards{max-width: 26em; padding: 20px 0px;}
.pricing-card-1 {max-width: 26em; padding: 10px 10px; height: 5em;}
.pricing-card-2 {max-width: 26em; padding: 10px 10px; height: 5em;}
.pricing-card-3 {max-width: 26em; padding: 10px 10px; height: 5em;}
.pricing-card-4 {max-width: 26em; padding: 10px 10px; height: 5em;}
.pricing-card-5 {max-width: 26em; padding: 10px 10px; height: 5em;}

.news-wrapper{
    max-width: 28em; padding: 60px 40px;}
    .news-grid{padding: 30px 40px; display: grid; grid-template-columns: repeat(1, minmax(23.5em, 1fr)); row-gap: 30px;}
    .grid-img{width: 23.5em;}
    .grid-img-hover{width: 22.5em;}
    .contact-wrapper-grid{max-width: 28em; padding: 60px 40px; flex-direction: column;}
    #form{max-width: 28em; }
    #name{max-width: 27.5em;}
    #email{max-width: 26.5em;}
    #message{max-width: 26.5em;}
    #submit{width: 26em;}
    
}

@media (min-width: 640px){
    .top-nav{max-width: 40em; padding: 0px 60px; height: 70px; margin: 0 auto;}
    .hero-wrapper .hero-img{ max-width: 40em; padding: 40px 60px;}
    .hero-wrapper .hero-img img{ width: 32em;}
    .hero-wrapper{ max-width: 40em; padding: 40px 60px;  }
    .portfolio-wrapper{ max-width: 40em; padding: 40px 60px; }
    .portfolio-grid{  display: grid; grid-template-columns: repeat(1, minmax(30em, 1fr)); row-gap: 60px;}
    .grid-image{width: 30em;}
    .grid-image-hover{width: 28.9em;}

    .skills-wrapper{max-width: 40em; padding: 80px 60px;}
    .timeline-wrapper{max-width: 40em; padding: 60px 60px;}
    .pricing-wrapper{max-width: 40em; padding: 60px 60px;}
    .pricing-desc{max-width: 40em; padding: 20px 0px;}
    
    .pricing-cards{max-width: 40em; padding: 20px 0px;}
    .pricing-card-1{max-width: 40em; padding: 20px 30px;}
    .pricing-card-2{max-width: 40em; padding: 20px 30px;}
    .pricing-card-3{max-width: 40em; padding: 20px 30px;}
    .pricing-card-4{max-width: 40em; padding: 20px 30px;}
    .pricing-card-5{max-width: 40em; padding: 20px 30px;}

    .news-wrapper{max-width: 40em; padding: 60px 60px;}
    .news-grid{display: grid; grid-template-columns: repeat(1, minmax(30em, 1fr)); row-gap: 30px;}
    .grid-img{width: 30em;}
    .grid-img-hover{width: 29em;}

    .contact-wrapper-grid{max-width: 40em; padding: 60px 60px;}
    .contact-desk{max-width: 40em;}
    .contact-form{max-width: 40em;}
    
    #name{max-width: 30em; padding: 0 25px;}
    #email{max-width: 30em;padding: 0 25px;}
    #message{max-width: 30em;padding: 0 25px;}
    #submit{width: 28.5em;}
    .footer-wrapper-flex{max-width: 40em; flex-direction: column; padding: 60px 60px; margin: 0 auto;}
    







    
    @media (min-width: 768px){
        .top-nav{max-width: 45em; padding: 0px 60px; height: 70px; margin: 0 auto;}
        .hero-wrapper{ max-width: 45em; padding: 70px 60px;flex-wrap: wrap;  }
        .hero-wrapper .hero-img{ max-width: 45em; height:150vh; padding: 0px 60px;}
        .hero-wrapper .hero-img img{ width: 34em;}
        .portfolio-wrapper{ max-width: 45em; padding: 60px 60px; }
        .portfolio-grid{  padding: 60px 0; display: grid; grid-template-columns: repeat(1, minmax(38em, 1fr)); row-gap: 60px;}
    .grid-image{width: 38em;}
    .grid-image-hover{width: 37em;}
    .skills-wrapper{max-width: 45em; padding: 70px 60px;}
    .timeline-wrapper{max-width: 45em; padding: 70px 60px;}
    .timeline-flex-body-1{display: grid;grid-template-columns: repeat(3, minmax(200px, 1fr));column-gap: 20px;padding: 40px 0; }
    .timeline-flex-body-2{ display: grid; grid-template-columns: repeat(3, minmax(200px, 1fr));column-gap: 20px;padding: 40px 0;}
    .timeline-flex-body-3{display: grid; grid-template-columns: repeat(3, minmax(200px, 1fr));padding: 40px 0;column-gap: 20px;}
    .timeline-flex-body-4{display: grid;grid-template-columns: repeat(3, minmax(200px, 1fr));padding: 40px 0;column-gap: 20px;}
    .timeline-flex-body-5{ display: grid; grid-template-columns: repeat(3, minmax(200px, 1fr));padding: 40px 0;column-gap: 20px;}

    .pricing-wrapper{max-width: 45em; padding: 70px 60px;}
    .pricing-desc{max-width: 45em; padding: 20px 0px;}
    .pricing-cards{max-width: 45em; padding: 20px 0px;}
    .pricing-card-1{width: 32em; padding: 20px 30px;}
    .pricing-card-1-flex{width: 32em;}
    .pricing-card-2{width: 32em; padding: 20px 30px;}
    .pricing-card-2-flex{width: 32em;}
    .pricing-card-3{width: 32em; padding: 20px 30px;}
    .pricing-card-3-flex{width: 32em;}
    .pricing-card-4{width: 32em; padding: 20px 30px;}
    .pricing-card-4-flex{width: 32em;}
    .pricing-card-5{width: 32em; padding: 20px 30px;}
    .pricing-card-1-flex{width: 32em;}

    .news-wrapper{max-width: 45em; padding: 70px 60px;}
    .news-grid{padding: 60px 0; display: grid; grid-template-columns: repeat(1, minmax(38em, 1fr)); row-gap: 30px;}
    .grid-img{width: 38em;}
    .grid-img-hover{width: 37em;}
    
    .contact-wrapper-grid{max-width: 45em; padding: 70px 60px;}
    .contact-desk{max-width: 45em;}
    .contact-form{max-width: 45em;}
    
    #form{width: 30em; }
    #name{width: 30em; padding: 0 25px;}
    #email{width: 30em;padding: 0 25px;}
    #message{width: 30em;padding: 0 25px;}
    #submit{width: 33.5em; }
}